.grid{
    display: grid;
    grid-template-rows: 60px 60px 60px 700px;
    grid-template-columns: 1fr 10fr 1fr;
}
.search{
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr;
    /* display: flex; */
    /* flex-direction: row; */
    grid-area:2/2/3/3 ;
}

.moviegrid{
    display: flex;
    flex-direction: column;
    grid-area:4/2/5/3 ;
}
/* .sortbtn{
    grid-column-start: 1 ;
    grid-column-end: 2;
    font-size: x-large;
    border-color: red;
    color: red;
    background-color: white;
}
.sortbtn:hover{
    color: white;
    background-color: red;
    cursor: pointer;
} */
.input{
    grid-column-start: 1 ;
    grid-column-end: 2;
    font-size: x-large;
}
.searchbtn{
    grid-column-start: 2 ;
    grid-column-end: 3;
    font-size: x-large;
    border-color: red;
    color: red;
    background-color: white;
}
.searchbtn:hover{
    color: white;
    background-color: red;
    cursor: pointer;
}
.addMovieList{
    grid-column-start: 4 ;
    grid-column-end: 5;
    border-color: red;
    font-size: x-large;
    color: red;
    background-color: white;
}
.addMovieList:hover{
    color: white;
    background-color: red;
    cursor: pointer;
}
li{
 height: 50px ;
 width: 100%;
 font-size: x-large; 
 border: 1px solid red;
 padding: auto;
 
}
.movieList{
    padding: 3px;
}
.movie{
    opacity: 0.9;
    background-color: red;
    border-color: white;
}
.list{
    display: grid;
    grid-template-columns: 50px 29fr 3fr 3fr;
}
.show{
    text-align: center;
    grid-column-start: 1 ;
    grid-column-end: 2;
    background-color: red;
    color: white;
}
.sublist{

    grid-column-start: 2 ;
    grid-column-end: 3;
}
.edit{
    grid-column-start: 3 ;
    grid-column-end: 4;
    background-color: black;
    color: white;
    text-align: center;
}
.delete{
    grid-column-start: 4 ;
    grid-column-end: 5;
    text-align: center;
    background-color: red;
    color: white;
}


.modal {
    position: fixed;
    z-index: 1; 
    padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }